:root {
    /* Color Definitions */
    --background-color: #f4f4f4;
    --form-background-color: white;
    --input-border-color: #ddd;
    --color-dark-gray: #333;
    --input-border-color2: rgb(79, 79, 79);
    --button-background-color: rgb(255, 24, 182);
    /* #5cb85c; */
    --button-hover-background-color: rgb(209, 28, 152);
    --button-text-color: white;
    --highlight-border-color: rgb(255, 24, 182);
    --highlight-shadow-color: rgb(255, 24, 182);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --tap-active-color: rgb(92, 184, 92);
    --alert-color: #ffeb3b;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--background-color);
}

h1 {
    text-align: center;
    color: var(--button-background-color);
}

form {
    background: var(--form-background-color);
    width: 200px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--shadow-color);
}

input[type="number"] {
    padding: 8px;
    margin-top: 5px;
    border: 2px solid var(--input-border-color);
    border-radius: 4px;
    display: block;
    width: 90%;
    margin-right: 10px;
}

button {
    padding: 8px;
    margin-top: 5px;
    border: 2px solid var(--input-border-color);
    border-radius: 4px;
    display: block;
    width: 100%;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-background-color);
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    border: 2px solid #999;
}

#calculateButton {
    border-radius: 6px;
}

label {
    margin-top: 10px;
}

.mbc_line {
    margin-bottom: 10px;
}

.highlighted {
    outline: 2px solid var(--highlight-border-color);
    box-shadow: 0 0 8px var(--highlight-shadow-color);
}

.tapper {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    margin: 10px auto;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    border: 4px solid var(--input-border-color2);
}

.tapper:hover {
    background-color: var(--button-hover-background-color);
}

.tapper:active {
    background-color: var(--tap-active-color);
}

.reset {
    padding: 8px;
    margin-top: 5px;
    border: 2px solid var(--input-border-color);
    border-radius: 4px;
    display: block;
    width: 50%;
    background-color: var(--input-border-color);
    color: var(--color-dark-gray);
    cursor: pointer;
}

.reset:hover {
    background-color: var(--alert-color);
}